[user]
    email = andy.jared@googlemail.com
    name = Andreas Isaak

[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    st = status -s -b
    co = checkout
    cim = commit -m
    ci = commit
    pom = push origin master
    l = log --pretty=format:'%C(yellow)%h%Cred%d%Creset %s %Cgreen(%cr %an)%Creset' --abbrev-commit --date=relative
    lg = log --graph --pretty=format:'%C(yellow)%h%Cred%d%Creset %s %Cgreen(%cr %an)%Creset' --abbrev-commit --date=relative
    la = log --graph --all --pretty=format:'%C(yellow)%h%Cred%d%Creset %s %Cgreen(%cr %an)%Creset' --abbrev-commit --date=relative
    nff = merge --no-ff --no-edit

[push]
    default = simple

[credential]
    helper = cache --timeout 228800

[core]
    excludesfile = ~/.gitignore_global

[color]
    branch = auto
    diff = auto
    status = auto
    interactive = auto

[core]
    excludesfile = /home/isaak/.gitignore